@page
@model DiffModel
@{
    ViewData["Title"] = "Home page";
}


<textarea class="full" style="height:1000px;">@Model.Diff</textarea>
<textarea class="full" style="height:1000px;">@Model.All</textarea>
<div class="  ">
    <div class="row">
        <div class="col-sm-6">
            <textarea class="full" style="height:50000px;">@Model.Left</textarea>
        </div>
        <div class="col-sm-6">
            <textarea class="full" style="height:50000px;">@Model.Right</textarea>
        </div>
    </div> 
</div>

